p{
  line-height: 30px;
}

.container{
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;

  h3, h2{
    text-transform: uppercase;
    font-weight: 300;
  }

  h2{
    margin-top: 70px;
  }
    
  .flex{
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 40px;
    }
    p{
      width: 100%;
    }
    img{
      display: block;
      height: 500px;
      width: 100%;
      object-fit: cover;
    }
}
